video { display: block; }

video#bgvid {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(/img/virus.jpg) no-repeat;
    background-size: cover;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.home-content {
    background-color: rgba(51,51,54,0.8);
    padding: 30px 0 30px 0;
    margin: 0;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

.editor-footer {
    padding: 15px 0px 15px 15px;
    margin-right: 0;
    margin-left: -8px;
}

/************** animations *************************************/

.slide-animate.ng-enter, .slide-animate.ng-leave{
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
}

.slide-animate.ng-enter.ng-enter-active {
    position: absolute;
    left: 1300px;
}

.slide-animate.ng-enter {
    left: 0;
}

.slide-animate.ng-leave.ng-leave-active {
    position: absolute;
    left: -1700px;
}

.slide-animate.ng-leave {
    right: 0;
}

.view-container {
    position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
    background: #333336;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.view-frame.ng-enter {
    -webkit-animation: 0.75s fade-in;
    -moz-animation: 0.75s fade-in;
    -o-animation: 0.75s fade-in;
    animation: 0.75s fade-in;
    z-index: 100;
}

.view-frame.ng-leave {
    -webkit-animation: 0.5s fade-out;
    -moz-animation: 0.5s fade-out;
    -o-animation: 0.5s fade-out;
    animation: 0.5s fade-out;
    z-index:99;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-moz-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-webkit-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}