//////// UI colors

@col-bg:            #333336;
@col-text:          #fff;

//////// Operator colors

@op-col-sd:         #56ffee;
@op-col-tilt:       #ffd541;
@op-col-mirror:     #89c33f;
@op-col-inset:      #ff772a;
@op-col-scale-side: #bb11d3;
@op-col-ext:        #3fa6f2;
@op-col-delete:     #aaaaaa;
@op-col-shift:      #b9c500;

//////// Font

@app-font: "Abel";

@border-col: #666;
@border-col-hover: #fff;
@border-col-flash: #fff;
