//////// Operator colors

@op-col-sd:       #55ffee;
@op-col-tilt:     #ffc840;
@op-col-reflect:  #88c440;
@op-col-inset:    #ff772a;
@op-col-scale:    #bb11d0;
@op-col-stretch:  #40a6f0;
@op-col-delete:   #aaaaaa;
@op-col-shift:    #b8c400;
@op-col-leaf:     #dddddd;
@op-col-disabled: #666;

//////// UI colors

@col-bg:      #333336;
@col-text:    #fff;
@col-sel:     #ff0;
@col-error:   #f00;
@col-section: rgba(255,255,255,0.33);
@col-form:    @op-col-sd;

@border-col:       #666;
@border-col-hover: #fff;
@border-col-flash: #fff;

//////// Font

@app-font: "Abel";

@viz-height: 245px;
@viz-container-height: 270px;