@import "common.less";
@import "slide.less";

nav {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.25);
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;

    h1 { font-size: 180%; line-height: 0.8; }

    .nav svg {
        margin: 10px 0 10px 10px;
    }

    .icons svg {
        margin:10px 10px 10px 0;
    }

    .icons a:hover svg g {
        fill: white;
    }
}

#nav-toggle:hover svg g {
    stroke: white;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    width: 100%;
    height: 100%;
    min-height: 100%;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.flex-container .inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.flex-item {
    -webkit-flex: 1 100%;
    -moz-flex: 1 100%;
    flex: 1 100%;
}

.flex-uniform {
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    flex: 1 0 auto;
}

.flex-container .toolbar {
    height: 60px;
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    flex: 0 1 auto;
    line-height: 1.8;

    img {
        height: 32px;
    }

    .inner {
        min-height: 60px;

        .flex-item {
            padding: 5px 10px 5px 10px;
        }
    }

    h1 {
        font-size: 190%;
        line-height: 10px;
    }
}

.preview-wrapper {
    cursor: -webkit-grab;
    -webkit-flex: 4 1 auto;
    -moz-flex: 12 1 auto;
    flex: 12 1 auto;
}

@media (max-width: 640px) {
    .first { margin-left: 5%; }
    .last { margin-right: 5%; }
    .toolbar { font-size: 80%; }
}

@media (min-width: 641px) {
    .first { margin-left: 15%; }
    .last { margin-right: 15%; }
    .toolbar { font-size: 90%; }
}

@media (min-width: 1024px) {
    .first { margin-left: 25%; }
    .last { margin-right: 25%; }
}

#edit-treemap {
    min-height: 200px;
    max-height: 300px;
    -webkit-flex: 2 2 auto;
    -moz-flex: 2 2 auto;
    flex: 2 2 auto;

    path, rect {
        stroke-width: 2px;
        vector-effect: non-scaling-stroke;
    }

    rect { fill: rgba(0,0,0,0.01); }

    g:hover rect, g[class=selected] rect {
        fill: rgba(0,0,0,0.5);
        cursor: pointer;
    }
}

.buttonbar {
    min-height: 70;
    height: 70px;
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    flex: 0 1 auto;

    .inner {
        min-height: 70px;
        line-height: 50px;
    }
}

#home {
    .content {
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        height: 100%;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 360%;
    }
}

@media (min-width: 641px) and (max-width: 767px) {
    h1 {
        font-size: 280%;
    }
}

@media (max-width: 640px) {
    h1 {
        font-size: 190%;
    }
}

#home-fs-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
}

.buttonbar .inner div {
    margin: 10px;
    border: 2px solid #666;
}

.buttonbar .inner div:hover {
    border: 2px solid #ccc;
    cursor: pointer;

    svg g {
        stroke: #fff;
    }
}

.alert {
    line-height: 60px;
}

.alert-error {
    background: red;
}

.overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    padding: 10px;
    border: 2px solid white;
}

#seed-overlay {
    position: fixed;
    width: 100%;
    top: 10%;
    left: 0px;
    z-index: 100;
    text-align: center;
}

.op-sd { stroke: @op-col-sd; }
.op-sd-inset { stroke: @op-col-inset; }
.op-ext { stroke: @op-col-ext; }
.op-reflect { stroke: @op-col-mirror; }
.op-shift-displace { stroke: @op-col-shift; }
.op-skew { stroke: @op-col-tilt; }
.op-scale-size { stroke: @op-col-scale-side; }
.op-delete { stroke: @op-col-delete; }
.op-leaf { stroke: white; }
