@import "config.less";
@import "mixins.less";
@import "nav.less";
@import "mediaqueries.less";
@import "viz.less";
@import "anim.less";
@import "forms.less";

body {
    background-color: @col-bg;
    color: @col-text;
    font-family: @app-font, sans-serif;
    font-size: 14px;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1, h2 {
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}

h1 { font-size: 360%; }
h2 { font-size: 180%; }

.hidden { display: none !important; }
.center { text-align: center; }
.right { text-align: right; }

.disclaimer { margin: 2em 0; }

.overlay {
    position: fixed;
    z-index: 100;
}

a:link { color: @op-col-sd; }
a:hover { color: lighten(@op-col-sd,10); }

.flex-container {
    .flex(column nowrap);
    .flex-justify(center);
    width: 100%;
    height: 100%;
    min-height: 100%;

    .inner {
        .flex(row nowrap);
    }
}

.flex-content {
    .flex(column nowrap);
    .flex-justify(center);
    text-align: center;
    >div {
        max-width: 50%;
        margin: 0 auto;
    }
}

.flex-item {
    .flexbox(1 100%);
}

svg.gallery {
    fill:   @col-bt-gallery;
    stroke: @col-bt-gallery;
}

svg.continue {
    fill: @col-bt-continue;
    stroke: @col-bt-continue;
}

svg.cancel {
    fill: @col-bt-cancel;
    stroke: @col-bt-cancel;
}

.buttonbar {
    min-height: 70;
    height: 70px;
    .flexbox(0 1 auto);

    .inner {
        min-height: 70px;
        line-height: 50px;

        div {
            margin: 10px;
            border: 2px solid @border-col;
        }

        div:hover {
            border: 2px solid @border-col-hover;
            cursor: pointer;

            svg g {
                stroke-width: 0.05;
                stroke: #fff;
                fill: #fff;
            }
        }
    }
}

.tools-extra {
    top: 10px;
    right: 10px;

    div {
        margin-bottom: 10px;

        &:hover {
            svg { stroke: @col-tool-hover; }
        }
    }

    div.fs-toggle {
        margin-bottom: 20px;
        svg {
            stroke: @col-tool-fs !important;
        }
    }

    svg {
        stroke: @col-tool;
        stroke-width: 0.05;
    }
}

#home {
    background-image: url('../img/renders/20140701.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .flex-content>div { max-width: 95% !important; }

    div.credits {
        width: 50%;
        max-width: 50%;
        margin: auto;
        visibility: none;

        div {
            text-align: left;
            text-transform: uppercase;
            border-bottom: 1px solid white;
            margin-bottom: 0.5em;
            width: 100%;
        }

        span { float: right; }
    }

    .wrapper {
        .flex(column nowrap);
        height: 90%;
        text-shadow: black 0 0 8px;
    }

    .header { .flexbox(4 0 auto); }
    .credits { .flexbox(1 0 auto); }
    .main-title { .flexbox(12 0 auto); }
}

#seed-overlay {
    width: 100%;
    top: 10%;
    left: 0px;
    text-align: center;
}

#seed-left {
    left: 5%;
    top:45%;
}

#seed-right {
    right: 5%;
    top: 45%;
}

#login {
    h1 { margin-bottom: 14px; }
    .subtitle { margin-bottom: 2em; }

    .content div {
        margin: 0 auto 1em auto;
    }
}

.preview-wrapper {
    .flexbox(12 1 auto);
}

#editor .preview-wrapper {
    cursor: -webkit-grab;
}

#thanks-wrapper, #upgrade-wrapper {

    >div {
        max-width: 70% !important;
    }
}

#thanks-cancel { margin-top: 2em; }

.section-label {
    margin: 0 10px;
    color: @col-section;
    border-bottom: 1px solid @col-section;
    text-transform: uppercase;

    svg {
        margin-right: 5px;
        fill: none;
        stroke: @col-tooltip-hook;
        stroke-width: 0.1;
    }
}

#preview-label {
    position: fixed;
    width: 100%;
    margin-top: 5px;
}

#toolbar-label {
    position: fixed;
    width: 100%;
    top: 200px;
}

#map-label {
    float: right;
    margin-right: 130px;
}

:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tooltip {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    display: none;
    max-width: 250px;
    text-align: left;
    white-space: normal;
    background-color: @col-tooltip;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tooltip.top {
    margin-top: -10px;
}

.tooltip.right {
    margin-left: 10px;
}

.tooltip.right {
    margin-right: 10px;
}

.tooltip.top>.arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: rgba(0,0,0,.25);
    border-bottom-width: 0;
}

.tooltip.bottom>.arrow {
    top: -11px;
    left: 10px;
    margin-left: -11px;
    border-bottom-color: rgba(0,0,0,.25);
    border-top-width: 0;
}

.tooltip.left>.arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-left-color: rgba(0,0,0,.25);
    border-right-width: 0;
}

.tooltip.right>.arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: rgba(0,0,0,.25);
    border-left-width: 0;
}

.tooltip>.arrow {
    border-width: 11px;
}
.tooltip>.arrow, .tooltip>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top>.arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: @col-tooltip;
    border-bottom-width: 0;
}

.tooltip.bottom>.arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-bottom-color: @col-tooltip;
    border-top-width: 0;
}

.tooltip.left>.arrow:after {
    bottom: -10px;
    right: 1px;
    content: " ";
    border-left-color: @col-tooltip;
    border-right-width: 0;
}

.tooltip.right>.arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: @col-tooltip;
    border-left-width: 0;
}

.tooltip>.arrow:after {
    content: "";
    border-width: 10px;
}

.tooltip-content {
    padding: 9px 14px;
}