@import "config.less";
@import "nav.less";
@import "mediaqueries.less";
@import "viz.less";
@import "anim.less";
@import "forms.less";

body {
    background-color: @col-bg;
    color: @col-text;
    font-family: @app-font, sans-serif;
    font-size: 14px;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1 {
    font-weight: 400;
    line-height: 1;
}

.hidden { display: none !important; }
.center { text-align: center; }
.right { text-align: right; }

.overlay {
    position: fixed;
    z-index: 100;
}

a:link { color: @op-col-sd; }
a:hover { color: lighten(@op-col-sd,10); }

.flex-container {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    width: 100%;
    height: 100%;
    min-height: 100%;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;

    .inner {
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -moz-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }

    .toolbar {
        height: 70px;
        -webkit-flex: 0 1 auto;
        -moz-flex: 0 1 auto;
        flex: 0 1 auto;
        line-height: 1.8;

        img {
            height: 32px;
        }

        .inner {
            min-height: 70px;

            .flex-item {
                padding: 5px 10px;
            }
        }

        h1 {
            font-size: 190%;
            line-height: 10px;
        }
    }
}

.flex-item {
    -webkit-flex: 1 100%;
    -moz-flex: 1 100%;
    flex: 1 100%;
}

.preview-wrapper {
    cursor: -webkit-grab;
    -webkit-flex: 4 1 auto;
    -moz-flex: 12 1 auto;
    flex: 12 1 auto;
}

.buttonbar {
    min-height: 70;
    height: 70px;
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    flex: 0 1 auto;

    .inner {
        min-height: 70px;
        line-height: 50px;
    }

    .inner div {
        margin: 10px;
        border: 2px solid @border-col;
    }

    .inner div:hover {
        border: 2px solid @border-col-hover;
        cursor: pointer;

        svg g {
            stroke: #fff;
        }
    }
}

#home {
    background-image: url('/img/renders/20140701.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .content {
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        height: 100%;
    }
}

#home-fs-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
}

#seed-overlay {
    width: 100%;
    top: 10%;
    left: 0px;
    text-align: center;
}

#seed-left {
    left: 5%;
    top:45%;
}

#seed-right {
    right: 5%;
    top: 45%;
}

#op-ctrl {
    height: 300px;
    margin: 0 10px;
    padding: 0px 40px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    border: 2px solid white;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;

    p {
        text-transform: uppercase;
    }

    &.op-sd { border-color: @op-col-sd; }
    &.op-sd-inset { border-color: @op-col-inset; }
    &.op-extrude { border-color: @op-col-extrude; }
    &.op-reflect { border-color: @op-col-reflect; }
    &.op-shift-displace { border-color: @op-col-shift; }
    &.op-skew { border-color: @op-col-tilt; }
    &.op-scale-size { border-color: @op-col-scale-side; }
    &.op-delete { border-color: @op-col-delete; }
    &.op-leaf { border-color: #ddd; }
}

#op-sliders {
    -webkit-flex: 6 0 auto;
    -moz-flex: 6 0 auto;
    flex: 5 0 auto;
}

#op-buttons {
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    flex: 1 0 auto;
    padding-top: 32px;
    text-align: right;

    div { margin: 10px 0; }
}

#login {
    h1 { margin-bottom: 14px; }
    .subtitle { margin-bottom: 2em; }

    .content div {
        margin: 0 auto 1em auto;
    }
}

#submit-form-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;

    div {
        max-width: 50%;
        margin: 0 auto;
    }
}