@import "config.less";
@import "mixins.less";
@import "nav.less";
@import "mediaqueries.less";
@import "viz.less";
@import "anim.less";
@import "forms.less";

body {
    background-color: @col-bg;
    color: @col-text;
    font-family: @app-font, sans-serif;
    font-size: 14px;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1 {
    font-weight: 400;
    line-height: 1;
}

.hidden { display: none !important; }
.center { text-align: center; }
.right { text-align: right; }

.overlay {
    position: fixed;
    z-index: 100;
}

a:link { color: @op-col-sd; }
a:hover { color: lighten(@op-col-sd,10); }

.flex-container {
    .flex(column nowrap);
    .flex-justify(center);
    width: 100%;
    height: 100%;
    min-height: 100%;

    .inner {
        .flex(row nowrap);
    }
}

.flex-content {
    .flex(column nowrap);
    .flex-justify(center);
    text-align: center;
    div {
        max-width: 50%;
        margin: 0 auto;
    }
}

.flex-item {
    .flexbox(1 100%);
}

.preview-wrapper {
    .flexbox(12 1 auto);
}

#editor .preview-wrapper {
    cursor: -webkit-grab;
}

.buttonbar {
    min-height: 70;
    height: 70px;
    .flexbox(0 1 auto);

    .inner {
        min-height: 70px;
        line-height: 50px;
    }

    .inner div {
        margin: 10px;
        border: 2px solid @border-col;
    }

    .inner div:hover {
        border: 2px solid @border-col-hover;
        cursor: pointer;

        svg g {
            stroke: #fff;
        }
    }
}

#home {
    background-image: url('/img/renders/20140701.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#seed-overlay {
    width: 100%;
    top: 10%;
    left: 0px;
    text-align: center;
}

#seed-left {
    left: 5%;
    top:45%;
}

#seed-right {
    right: 5%;
    top: 45%;
}

#login {
    h1 { margin-bottom: 14px; }
    .subtitle { margin-bottom: 2em; }

    .content div {
        margin: 0 auto 1em auto;
    }
}

.section-label {
    margin: 0 10px;
    color: @col-section;
    border-bottom: 1px solid @col-section;
    text-transform: uppercase;

    svg {
        margin-left: 5px;
        fill: none;
        stroke: #999;
        stroke-width: 0.1;
    }
}

#preview-label {
    position: fixed;
    width: 100%;
    margin-top: 5px;
}

#toolbar-label {
    position: fixed;
    width: 100%;
    top: 200px;
}

#map-label {
    float: right;
    margin-right: 130px;
}

:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.popover {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    display: none;
    max-width: 2px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: @col-tooltip;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.popover.top {
    margin-top: -10px;
}

.popover.right {
    margin-left: 10px;
}

.popover.top>.arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: rgba(0,0,0,.25);
    border-bottom-width: 0;
}

.popover.right>.arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: rgba(0,0,0,.25);
    border-left-width: 0;
}

.popover>.arrow {
    border-width: 11px;
}
.popover>.arrow, .popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover.top>.arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: @col-tooltip;
    border-bottom-width: 0;
}

.popover.right>.arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: @col-tooltip;
    border-left-width: 0;
}

.popover>.arrow:after {
    content: "";
    border-width: 10px;
}

.popover-content {
    padding: 9px 14px;
}