@media (max-width: 480px) {
    #login .content div {
        max-width: 80%;
    }
}

@media (min-width: 481px) and (max-width: 640px) {
    #login .content div {
        max-width: 66%;
    }
}

@media (max-width: 640px) {
    h1 {
        font-size: 190%;
    }

    .toolbar { font-size: 80%; }
}

@media (min-width: 641px) and (max-width: 767px) {
    h1 {
        font-size: 260%;
    }
    .toolbar { font-size: 90%; }
    #login .content div {
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 360%;
    }
}

@media (min-width: 1024px) {
    #login .content div {
        max-width: 33%;
    }
}

@media (max-height: 620px) {
    #zoom-in, #zoom-out { display: none !important; }
}