@media (max-width: 480px) {
    div.item-version {
        height: 135px !important;
        .obj-preview {
            width: 180px !important;
            height: 135px !important;
            //margin: 52px 0 !important;
        }
        .obj-overlay {
            width: 180px !important;
            height: 135px !important;

            input[type=button] {
                font-size: 14px;
            }
        }
    }
    #branchviz { display: none; }
}

@media (min-width: 481px) and (max-width: 600px) {
    div.item-version {
        .obj-preview {
            width: 160px !important;
            height: 120px !important;
            margin: 60px 0 !important;
        }
        .obj-overlay {
            width: 160px !important;
            height: 120px !important;

            input[type=button] {
                font-size: 12px;
            }
        }
    }
}

@media (min-width: 601px) and (max-width: 640px) {
    div.item-version {
        .obj-preview {
            width: 240px !important;
            height: 180px !important;
            margin: 30px 0 !important;
        }
        .obj-overlay {
            width: 240px !important;
            height: 180px !important;

            input[type=button] {
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 640px) {
    h1 {
        font-size: 190%;
    }

    .toolbar { font-size: 80%; }
}

@media (min-width: 641px) and (max-width: 767px) {
    h1 {
        font-size: 260%;
    }
    .toolbar { font-size: 90%; }
}

@media (min-width: 768px) {
    h1 {
        font-size: 360%;
    }
}

@media (min-width: 1024px) {

}

@media (max-height: 620px) {
    #zoom-in, #zoom-out { display: none !important; }
}