@import "config.less";
@import "mixins.less";

svg {
    fill: none;
    stroke-width: 0.05;
    vector-effect: non-scaling-stroke;
}

.op-tool(@class; @col; @anim) {
    &.@{class} {
        svg { stroke: @col; }
        color: @col;

        &.selected {
            svg { .flash-gen(@anim); }
            color: @col-sel;
        }

        &:hover {
            svg { stroke: lighten(@col,20); }
            color: lighten(@col,20);
        }
    }
}

.flash-keyframes(tool-flash-anim-sd; stroke; @op-col-sd; @col-sel);
.flash-keyframes(tool-flash-anim-inset; stroke; @op-col-inset; @col-sel);
.flash-keyframes(tool-flash-anim-tilt; stroke; @op-col-tilt; @col-sel);
.flash-keyframes(tool-flash-anim-reflect; stroke; @op-col-reflect; @col-sel);
.flash-keyframes(tool-flash-anim-shift; stroke; @op-col-shift; @col-sel);
.flash-keyframes(tool-flash-anim-stretch; stroke; @op-col-stretch; @col-sel);
.flash-keyframes(tool-flash-anim-scale; stroke; @op-col-scale; @col-sel);
.flash-keyframes(tool-flash-anim-delete; stroke; @op-col-delete; @col-sel);
.flash-keyframes(tool-flash-anim-leaf; stroke; @op-col-leaf; @col-sel);
.flash-keyframes(tool-flash-anim-undo; stroke; @op-col-undo; @col-sel);

#toolbar {
    .flexbox(0 1 auto);
    height: 90px;
    line-height: 1.8;
}

#tools {
    margin-top: 5px;
    width: 2000px;
    overflow: hidden;

    &>div {
        display: inline-block;
    }

    &>div.sep {
        width: 15px;
        height: 50px;
        svg { stroke: #666; }
    }

    &>div.tool {
        width: @tool-size;
    }

    div#tools-left {
        div.tool {
            width: @icon-size !important;
        }
        position: fixed;
        left: 0px;
        z-index: 200;
        width: @tool-size;
        height: 55px;
        padding: 4px 0 0 10px;
        background: -moz-linear-gradient(left, rgba(51,51,54,1) 0%, rgba(51,51,54,1) 75%, rgba(51,51,54,0) 100%);
        background: -webkit-linear-gradient(left, rgba(51,51,54,1) 0%,rgba(51,51,54,1) 75%,rgba(51,51,54,0) 100%);
        background: -o-linear-gradient(left, rgba(51,51,54,1) 0%,rgba(51,51,54,1) 75%,rgba(51,51,54,0) 100%);
        background: -ms-linear-gradient(left, rgba(51,51,54,1) 0%,rgba(51,51,54,1) 75%,rgba(51,51,54,0) 100%);
        background: linear-gradient(to right, rgba(51,51,54,1) 0%,rgba(51,51,54,1) 75%,rgba(51,51,54,0) 100%);
    }

    div#tools-right {
        div.tool {
            width: @icon-size !important;
            float: right;
        }

        position: fixed;
        right: 0px;
        z-index: 200;
        width: @tool-size;
        height: 55px;
        padding: 4px 10px 0 0;
        background: -moz-linear-gradient(right, rgba(51,51,54,1) 0%, rgba(51,51,54,1) 75%, rgba(51,51,54,0) 100%);
        background: -webkit-linear-gradient(right, rgba(51,51,54,1) 0%,rgba(51,51,54,1) 75%,rgba(51,51,54,0) 100%);
        background: -o-linear-gradient(right, rgba(51,51,54,1) 0%,rgba(51,51,54,1) 75%,rgba(51,51,54,0) 100%);
        background: -ms-linear-gradient(right, rgba(51,51,54,1) 0%,rgba(51,51,54,1) 75%,rgba(51,51,54,0) 100%);
        background: linear-gradient(to left, rgba(51,51,54,1) 0%,rgba(51,51,54,1) 75%,rgba(51,51,54,0) 100%);
    }
}

div.tool {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;

    &.disabled {
        svg { stroke: @op-col-disabled !important; }
        color: @op-col-disabled !important;
        cursor: default !important;
    }

    .op-tool(op-sd; @op-col-sd; tool-flash-anim-sd);
    .op-tool(op-inset; @op-col-inset; tool-flash-anim-inset);
    .op-tool(op-stretch; @op-col-stretch; tool-flash-anim-stretch);
    .op-tool(op-reflect; @op-col-reflect; tool-flash-anim-reflect);
    .op-tool(op-shift; @op-col-shift; tool-flash-anim-shift);
    .op-tool(op-tilt; @op-col-tilt; tool-flash-anim-tilt);
    .op-tool(op-scale; @op-col-scale; tool-flash-anim-scale);
    .op-tool(op-delete; @op-col-delete; tool-flash-anim-delete);
    .op-tool(op-undo; @op-col-undo; tool-flash-anim-undo);
}

#slider {
    .flex(row nowrap);
    .flex-justify(center);
    height: 20px;
    line-height: 6px;
    margin-top: 10px;

    div { .flexbox(1 0 auto); }

    &.disabled {
        color: @op-col-disabled;

        input[type="range"] {
            background-color: @op-col-disabled;

            &::-webkit-slider-thumb, &::-moz-range-thumb {
                border-color: @op-col-disabled;
            }
            &::-moz-range-track {
                background-color: @op-col-disabled;
            }
        }
    }

    .op-colors(color);
}

#slider-label {
    margin-right: 1em;
    text-align: right;
    text-transform: uppercase;
}

#slider-val-label {
    margin-left: 1em;
}

#edit-treemap {
    height: @viz-container-height;
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    flex: 1 0 auto;
}

.viz-op(@class; @col) {
    &.@{class} { background-color: @col; }
    &.@{class}:hover { background-color: lighten(@col,20); }
    &.@{class}.deselected {
        color: @col;
        span {
            display: block;
            background: @col-bg;
            margin: 2px;
        }
    }
}

.depth2 .deselected span { padding: 50px 0; }
.depth3 .deselected span { padding: 31px 0; }
.depth4 .deselected span { padding: 19px 0; }
.depth5 .deselected span { padding: 13px 0; }
.depth6 .deselected span { padding: 9px 0; }
.depth7 .deselected span { padding: 6px 0; }
.depth8 .deselected span { padding: 4px 0; }
.depth9 .deselected span { padding: 2px 0; }
.depth10 .deselected span { padding: 1px 0; }
.depth11 .deselected span { padding: 0 0; }
.depth12 .deselected span { padding: 2px 0; font-size: 11px; line-height: 11px; }
.depth13 .deselected span { padding: 2px 0; font-size: 11px; line-height: 11px; }

#viz-container {

    width: 100%;
    overflow: hidden;
    height: @viz-height;

    div {
        position: fixed;
        overflow: hidden;
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        -webkit-flex-flow: column nowrap;
        -moz-flex-flow: column nowrap;
        flex-flow: column nowrap;
        align-content: center;
        justify-content: center;
        text-align: center;
        color: @col-bg;

        .viz-op(op-sd; @op-col-sd);
        .viz-op(op-inset; @op-col-inset);
        .viz-op(op-stretch; @op-col-stretch);
        .viz-op(op-reflect; @op-col-reflect);
        .viz-op(op-shift; @op-col-shift);
        .viz-op(op-tilt; @op-col-tilt);
        .viz-op(op-scale; @op-col-scale);
        .viz-op(op-leaf; @op-col-leaf);

        span { text-transform: uppercase; }

        &.op-root {
            background-color: transparent !important;
            color: @col-bt-continue !important;
            border: 2px solid @border-col;
        }

        h1 { margin: 0; padding: 0 10px; }

        svg {
            &.op-delete { stroke: @op-col-delete; }

            path, rect {
                stroke-width: 2px;
                vector-effect: non-scaling-stroke;
            }
        }

        &.op-delete.selected {
            background-color: darken(@op-col-leaf,30);
            svg { stroke: @op-col-leaf; }
        }
    }
}

#viz-map {
    position: fixed;
    z-index: 200;
    right: 0;
    bottom: 70;
    border-left: @margin solid @col-bg;
    border-right: @margin solid @col-bg;
    cursor: ew-resize;
}

#viz-mask-left {
    position: fixed;
    z-index: 200;
    left: 0;
    bottom: 70;
    width: 10px;
    height: @viz-height;
    background-color: @col-bg;
}
