@import "config.less";

#edit-treemap {
    height: 200px;
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    flex: 1 0 auto;
}

#viz-container {

    width: 100%;
    overflow: hidden;
    height: 200;

    div {
        position: fixed;

        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        -webkit-flex-flow: column nowrap;
        -moz-flex-flow: column nowrap;
        flex-flow: column nowrap;
        align-content: center;
        justify-content: center;
        text-align: center;

        &.op-sd { background-color: @op-col-sd; }
        &.op-sd-inset { background-color: @op-col-inset; }
        &.op-extrude { background-color: @op-col-extrude; }
        &.op-reflect { background-color: @op-col-reflect; }
        &.op-shift-displace { background-color: @op-col-shift; }
        &.op-skew { background-color: @op-col-tilt; }
        &.op-scale-size { background-color: @op-col-scale-side; }
        &.op-delete { background-color: @op-col-delete; }
        &.op-leaf { background-color: #ddd; color: #333; }

        &.op-sd:hover { background-color: lighten(@op-col-sd,10); }
        &.op-sd-inset:hover { background-color: lighten(@op-col-inset,10); }
        &.op-extrude:hover { background-color: lighten(@op-col-extrude,10); }
        &.op-reflect:hover { background-color: lighten(@op-col-reflect,10); }
        &.op-shift-displace:hover { background-color: lighten(@op-col-shift,10); }
        &.op-skew:hover { background-color: lighten(@op-col-tilt,10); }
        &.op-scale-size:hover { background-color: lighten(@op-col-scale-side,10); }
        &.op-delete:hover { background-color: lighten(@op-col-delete,10); }
        &.op-leaf:hover { background-color: white; color: #333; }

        &.selected { background-color: yellow !important; }

        h1, p { margin: 0; }

        svg {
            &.op-sd { stroke: @op-col-sd; }
            &.op-sd-inset { stroke: @op-col-inset; }
            &.op-extrude { stroke: @op-col-extrude; }
            &.op-reflect { stroke: @op-col-reflect; }
            &.op-shift-displace { stroke: @op-col-shift; }
            &.op-skew { stroke: @op-col-tilt; }
            &.op-scale-size { stroke: @op-col-scale-side; }
            &.op-delete { stroke: @op-col-delete; }
            &.op-leaf { stroke: white; }

            path, rect {
                fill: none;
                stroke-width: 2px;
                vector-effect: non-scaling-stroke;
            }
        }
    }
}

#viz-map {
    position: fixed;
    z-index: 200;
    right: 0;
    bottom: 70;
    border-left: 10px solid @col-bg;
    border-right: 10px solid @col-bg;
    cursor: ew-resize;
}

#viz-margin-left {
    position: fixed;
    z-index: 200;
    left: 0;
    bottom: 70;
    width: 10px;
    height: 200px;
    background-color: @col-bg;
}